.review-summary {
  height: 2rem;
  display: flex !important;
  align-items: center;

  > * {
    display: inline-block;
  }

  > *:not(:first-child) {
    margin-left: 0.5rem;
  }

  span {
    font-size: 0.8rem;
  }
}