.product-card {
  height: 100%;
  background-color: white;
  padding: 1rem;

  .image-container {
    max-width: 100%;
    padding-top: 100%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      max-height: 100%;

      border: 3px solid black;
    }

    .badges {
      position: absolute;
      width: 100%;
      top: -1rem;
    }
  
    .bestseller-badge {
      background-color: #36b39c;
      color: white;
      border-radius: 0;
      padding: 11.5px 10px;
      font-size: 0.6875rem;

      @media only screen and (min-width: 768px) {
        width: 50%;
      }
    }  
  }

  .product-card-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > * {
      > * {
        display: block;
        margin-bottom: 0.5rem;
      }
    }
  }

  a:hover {
    text-decoration: unset;
  }
}