.icon-link {
  .displayed-content > * {
    display: block;
  }

  .icon {
    text-align: center;
    color: black !important;
  }

  a:hover {
    text-decoration: unset;
  }

  span {
    margin-top: 0.25rem !important;
  }
}