.App {
    .page-preview-image {
        display: block;
        margin: auto;
    }

    a {
        color: unset;
    }

    a:hover {
        color: #e6df53;
    }

    .no-link-styling {
        color: unset;

        :hover {
            color: unset;
            text-decoration: unset;
        }
    }
}