@import 'styles/constants.scss';

.App {
    .page-preview-image {
        display: block;
        margin: auto;
    }

    a {
        color: unset;
    }

    a:hover {
        color: $doge-yellow;
    }

    .no-link-styling {
        color: unset;

        :hover {
            color: unset;
            text-decoration: unset;
        }
    }

    .fs-2rem {
        font-size: 2rem;
    }

    .fw-700 {
        font-weight: 700;
    }

    .fw-1000 {
        font-weight: 1000;
    }

    h1.product-cards-header {
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        font-weight: 1000;
    }
}